/* About Hero */
.about-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/imgs/Client1_BirchTree.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  max-height: 300px;
  aspect-ratio: 3 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
    color: var(--color-on-primary);
    font-size: 2rem;
}

/* About Us */
.about-info > p {
    margin-bottom: 1.25rem;
}

/* Store Hours */
.hours-container {
    padding: 1rem 1.5rem;
}

.hours-title {
    font-weight: bold;
}

/* Contact Form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.form-label {
    font-weight: bold;
}

.form-input {
    padding: 0.25rem 0.5rem;
    background-color: white;
    color: var(--color-on-background);
    border: 1px solid var(--color-on-background);
    border-radius: 8px;
}

@media (min-width: 768px) {
    main > :not(:first-child) {
        max-width: 500px;
        margin: 0 auto;
    }
}