/* Event Styling */
.event-container {
  max-width: 600px;
  margin: 2rem auto;
}

.event-title {
  padding: 0.75rem 0;
}

.event-date {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.event-description {
  margin-bottom: 1.25rem;
}

.event-btn {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .event-container {
    text-align: center;
  }
}
