/* Global Styles */
body {
  width: 100%;
  min-height: 100vh;
  margin: auto;

  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
}

h1 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: bold;
}

h2 {
  font-family: var(--font-body-large);
  font-size: 1.5rem;
  font-weight: bold;
}

section {
  padding: 20px;
}

button:focus-visible,
a:focus-visible,
input:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

/* Navigation */
header {
    background-color: var(--color-secondary);    
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-logo {
  width: 3rem;
  height: 3rem;
}

.menu-icon {
  width: 2rem;
  height: 2rem;
}

.navbar {
  border-top: 1px solid var(--color-on-background);
  padding: 1rem;
  margin: 0 1rem;
}

.nav-list-item {
    font-weight: 600;
}

.nav-list-item:not(:last-child) {
    margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  padding: 24px 20px;
}

.footer-left {
  width: 100%;
}

.news-header {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: .75rem;
}

.news-form {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.news-form input {
  flex-grow: 1;
  background-color: var(--color-background);
  color: var(--color-on-background);
  border: none;
  border-radius: 12px;
  padding: 0.5rem 0.75rem;
}

.news-form button {
  background-color: var(--color-secondary);
  color: var(--color-on-background);
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
}

.socials-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 24px;
}

.socials-group a img {
  width: 32px;
  height: 32px;
}

.footer-right {
  width: 100%;

  display: flex;
  gap: 24px;
}

.footer-right * {
  flex: 1;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* --- Utility Styles --- */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* --- Desktop Styling --- */
@media (min-width: 768px) {
    main {
        max-width: 1200px;
        margin: auto;
    }

    h1 {
        font-size: 1.5rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Header Styling */
    .header {
        padding: 1.5rem 2rem;
    }

    .header-logo {
        width: 4rem;
        height: 4rem;
    }

    .mobile-menu-btn {
        display: none;
    }

    .navbar {
        border: none;
        padding: 0;
        margin: 0;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 4rem;
        padding-right: 2rem;
    }

    .nav-list-item:not(:last-child) {
        margin: 0;
    }

    /* Footer Styling */
    footer {
        padding: 1.5rem 2rem;
        display: flex;
    }

    .footer-left {
        flex: 1;
    }

    .footer-right {
        flex: 2;
    }
}