/* Hero Section */
.section-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/imgs/Client1_BirchTree.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 3 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: var(--color-on-primary);
  font-size: 2.25rem;
}

/* Promotions Section */
.section-promo {
  background-color: var(--color-tertiary);
}

.section-promo p {
  font-style: italic;
  text-align: center;
}

/* Products Section */
.section-products {
  padding: 2.25rem 1.25rem;
}

.product-card {
  padding: 40px 20px;
}

.product-img {
  width: 100%;
  height: 250px;
  margin-bottom: 12px;
  box-shadow: var(--box-shadow);
}

.product-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-card figcaption {
  text-align: center;
}

.product-name {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Benefits Section */
.section-benefits {
  background-color: var(--color-accent);
  padding: 20px 40px;
}

.benefits-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: bold;
  text-align: center;
}

.benefit-item img {
  width: 48px;
  height: 48px;
}

/* Categories Section */
.section-categories {
  padding: 2.25rem 1.25rem;
}

.category-card {
  padding: 0 20px 24px;
}

.category-card img {
  margin-bottom: 12px;
  box-shadow: var(--box-shadow);
  margin: auto;
}

.category-card p {
  font-weight: bold;
  margin: auto;
  text-align: center;
}

@media (min-width: 768px) {
  .products-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .benefits-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .categories-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 2rem auto;
  }
}