/* Cart Button */
.btn-group {
  display: flex;
  justify-content: center;
}

.btn-cart {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.75rem;
  width: 100%;
  padding: 0.75rem 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn-cart img {
  width: 24px;
  height: 24px;
}

/* Categories Section */
.category-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.category-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: fill;
  box-shadow: var(--box-shadow);
  margin-bottom: 0.5rem;
}

.category-card p {
  font-weight: bold;
  text-align: center;
}

/* Products Section */
.section-products {
  padding: 2.25rem 1.25rem;
}

.products-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.product-card {
  padding: 20px;
}

.product-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: fill;
  margin-bottom: 12px;
  box-shadow: var(--box-shadow);
}

.product-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-card figcaption {
  text-align: center;
}

.product-name {
  font-size: 1rem;
  font-weight: bold;
}

.product-btn {
  margin: 0.5rem;
}

/* Cart Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.7);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  overscroll-behavior: contain;
  transition: all 0.4s;
}

.modal-content {
  background-color: white;
  width: 100%;
  max-width: 40rem;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}

.modal-close {
  width: 1.25rem;
  height: auto;
  cursor: pointer;
}

.cart-items {
  padding: 1rem;
}

.cart-items > * {
  margin-bottom: .5rem;
}

.btn-group {
  justify-content: flex-start;
  gap: 1rem;
}

.btn-modal {
  background-color: var(--color-tertiary);
}

.btn-submit {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .category-card img {
    height: 100px;
  }

  .category-card p {
    font-size: 1.5rem;
  }

  .products-group {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  .product-name {
    font-size: 1.25rem;
  }
}
